* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins";
    -webkit-font-smoothing: antialiased;
}
body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #1b1b1b;
}
.logging-card {
    max-width: 400px;
    background: #111;
    padding: 15px;
    border-radius: 8px;
}
.logging-card h2 {
    color: #f1f1f1;
    font-size: 22px;
    font-weight: 500;
    margin-top: 10px;
}
.logging-card p {
    color: #808080;
    font-size: 15px;
    max-width: 350px;
    margin-top: 10px;
    font-weight: 500;
}
.logging-card a {
    text-decoration: none;
}
.logging-card a button {
    padding: 10px 40px;
    margin-top: 20px;
    background: #1b1b1b;
    color: #fff;
    font-weight: 500;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 2px;
}